!!!
%html
  %head
    %title Team
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %section#wrapper
      %header
        %section.right-menu
          %ul 
            %li
              Kalendars |
            %li
              Raksti |
            %li
              Goda Kodeks |
            %li
              Trenini |
            %li
              Cinitaji |
            %li
              Bildes |
            %li
              Video |
        .gallery-title K-1, KICK-BOKSA UN MUAY-THAI KLUMS
        .logo
          = image_tag("logo.png")
      .content   
        .galery
          = image_tag("bilde.jpg") 
        .body HTML5 improves interoperability and reduces development costs by making precise rules on how to handle all HTML elements, and how to recover from errors.
        .text-link
          Drosme/Goda kodeks 
        %section.info-blocks
          %br
          .info
            %h1
            Kalendars
            %ul
              %li 
                Datums
              %li 
                Datums
              %li 
                Datums
              %li 
                Datums
              %li 
                Datums
              %li 
                Datums
          .info.margin-both
            %h1
            Raksti
            %ul
              %li
                Nosaukumi
              %li
                Nosaukumi
              %li
                Nosaukumi
              %li
                Nosaukumi
              %li
                Nosaukumi
              %li
                Nosaukumi

          .info
            %h1
            Video
            %ul
              %li
                Cinitaji
              %li 
                Cinitaji
              %li 
                Cinitaji
              %li 
                Cinitaji
              %li 
                Cinitaji
              %li 
                Cinitaji        
        .section.join
          %h1
            VELIES PIEVIENOTIES ?

        .section.news
          %br
          %h1 
            PANKRATIONA ATVERTAIS RINGS
          .time
            Pievienots 25.10.210, Janis
            %br           
          .text
            «Krājbankas» pārskatā par 2012.gada jūliju norādīts, ka bankas kredītportfelis patlaban ir 202 581 856 lati. 
            Bankas kredītportfelis 2012.gada jūnija beigās bija 208 119 152 lati. 
            Bankas kopējie aktīvi 2012.gada jūlija beigās bija 336 202 640 lati.

            Iepriekš bankas administratora korporatīvo finanšu direktors Aivars Jurcāns izteicās, 
            ka kredītportfelis tiks dalīts pēc tā, kā kredīti tiek maksāti, kā arī pēc tā, kādi ir kredītņēmēji.

            «Aptuveni 56% bankas kredītņēmēju, kas naudas izteiksmē ir 38% no kopējā kredīta apjoma, 
            pilda savas parādsaistības bez kavēšanās, bet 28% kredītņēmēju jeb 20,5% no kopējā kredītu 
            atlikuma naudas izteiksmē kavē savus maksājumus ilgāk par 180 dienām,» skaidroja Jurcāns.

            Viņš piebilda, 
            ka administrators jau ir vērsies pret negodprātīgajiem kredītņēmējiem ar visiem līgumā paredzētajiem līdzekļiem, 
            lai nodrošinātu kredītu atmaksu un līdzekļu atgūšanu kreditoru interesēs.    
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "225", :src => "http://www.youtube.com/embed/_-kvv-dcB_A", :width => "400"}
          %br
          %h1 
            KULDIGAI SAVI CEMPIONI
          .time
            Pievienots 26.10.210, Janis
            %br           
          .text
            «Krājbankas» pārskatā par 2012.gada jūliju norādīts, ka bankas kredītportfelis patlaban ir 202 581 856 lati. Bankas kredītportfelis 2012.gada jūnija beigās bija 208 119 152 lati. Bankas kopējie aktīvi 2012.gada jūlija beigās bija 336 202 640 lati.
            %br    
          = image_tag("bilde2.jpg")

          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "225", :src => "http://www.youtube.com/embed/_-kvv-dcB_A", :width => "400"} 
          %ul
            %li
              1
            %li
              2
            %li
              3
            %li
              4
            %li
              5
            %li
              6
            %li
              7
            %li
              8   


        .aside
          %br
          %h1 
            Video
          .sub_title
            Cinas un panakumi 
          %br   
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          %br
          .line
            = image_tag("svitra.jpg")
          %h1 
            Bildes
          .sub_title
            Cinas un panakumi 
          %br    
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          %br
          .line
            = image_tag("svitra.jpg")
          %h1 
            Sponsori
          .sub_title
            Cinas un panakumi 
          %br   
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")
          = image_tag("bildesss.jpg")

  %footer
    .section.logo      
      = image_tag("conceptic.jpg")
    .properties
      As Capital
      Reģ. Nr. 40003088497
      Nodokļu maksātāja Nr. LV40003088497
      %br
      %br
      Juridiskā adrese:
      Ganību dambis 23c, Rīga, LV-1005
      %br
      Faktiskā adrese:
      Ganību dambis 23c, Rīga, LV-1005
      %br
      %br
      Norēķinu rekvizīti:
      Banka: Nordea Bank 
      Finland Plc Latvijas filiāle
      %br
      %br
      %ul
        %li
          Kalendars 
        %li
          Raksti 
        %li
          Goda Kodeks 
        %li
          Trenini 
        %li
          Cinitaji 
        %li
          Bildes 
        %li
          Video
      

